/* CSS Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

button {
  /* Resetting margin and padding */
  margin: 0;
  padding: 0;

  /* Resetting border */
  border: none;
  border-radius: 0;

  /* Resetting background and text styles */
  background-color: transparent;
  color: inherit;

  /* Resetting font styles */
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;

  /* Resetting cursor */
  cursor: pointer;

  /* Resetting outline on focus */
  outline: none;

  /* Resetting text decoration */
  text-decoration: none;

  /* Resetting box-sizing */
  box-sizing: border-box;
}
/* my css */
:root {
  --dark: #1a1919;
  --light: #e4e4e4;
  --accent: #b6c6ff;
  --primary: #ff7f50;
  --secondary: #62c2cc;
  --tertiary: #f7d358;
  --complementary: #7f7fff;
}

body {
  font-family: "Ubuntu", sans-serif;
  background-color: var(--dark);
  color: var(--light);

  overflow-x: hidden;
}

/* global-classes */
.container-max {
  max-width: 140rem;
}

.app-wrapper {
  padding: 2rem;
}
p {
  font-weight: 300;
  color: var(--light);
  font-size: 1.2rem;
}

a {
  text-decoration: none;
  color: var(--light);
  transition: all 0.3s;
}
a:hover {
  color: var(--accent);
}
.active {
  color: var(--accent);
}

ul {
  list-style: none;
}

/* stars */
.star-bg {
  width: 10rem;
  position: absolute;
}
.star-bg-1 {
  top: 20%;
  left: 2%;
}

.star-bg-2 {
  top: 15%;
  right: calc(0% - 5rem);
}

.star-bg-3 {
  top: 70%;
  left: calc(0% - 4rem);
}

/* navbar */
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 9999;
}

.logo {
  width: 3rem;
}

.cart {
  background-color: var(--primary);
  width: 4rem;
  border-radius: 100%;
  padding: 0.5rem;
  transition: all 0.5s;
}

.cart:hover {
  cursor: pointer;
  background-color: var(--dark);
}

.nav-links-wrapper {
  display: flex;
  gap: 5rem;
}

.nav-link {
  font-size: 1.5rem;
  font-weight: 300;
}

/* home page */

.page-wrapper {
  display: flex;
  flex-direction: column;
  padding: 2rem 0rem;
  gap: 2rem;
  justify-content: center;
  align-items: center;
}

h1 {
  font-size: 3.5rem;
  font-weight: 400;
}

.accent {
  color: var(--accent);
}

.h1-container {
  display: flex;
  gap: 0.5rem;
  align-items: center;
  position: relative;

  z-index: 1;
}

.h1-star {
  height: 3.5rem;
}

.tagline {
  font-size: 1.5rem;
  font-weight: 300;
}

.small-txt {
  font-weight: 300;
  opacity: 50%;
}

.circleLottie {
  position: absolute;
  pointer-events: none;

  left: 80%;
  transform: translate(-50%, -50%);
  z-index: 1;
}

.shop-position {
  left: 50%;
}

.h1-container {
  position: relative;
  z-index: 2;
}

.big_category-container {
  display: flex;
  gap: 3rem;
  height: 27rem;
}

.category-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}
.img-category-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  border: solid 1px white;
  padding: 2rem 3rem;
  border-radius: 10rem;
  transition: all ease 0.4s;
}

.img-category-container:hover {
  background-color: var(--accent);

  cursor: pointer;
}
.img-category {
  width: 8rem;
}

.txt-category {
  font-weight: 300;
}

.small-category-container {
  padding-top: 1rem;
  display: flex;
  gap: 2rem;
}

.btn {
  padding: 1rem 1.5rem;
  background-color: transparent;
  color: var(--light);
  border: solid 1px var(--light);
  border-radius: 2rem;
  transition: all ease 0.4s;
}

.btn:hover {
  background-color: var(--accent);
  color: var(--dark);
}

.active-btn {
  background-color: var(--accent);
  color: var(--dark);
}

/* Shop */

.shop-btn-container {
  display: flex;

  justify-content: center;
  flex-wrap: wrap;
  gap: 2rem;
}

.shop-top-container {
  display: flex;
  max-width: 70%;
  padding-top: 4rem;
  gap: 4rem;
  justify-content: center;
  align-items: center;
}
.category-name {
  font-weight: 300;
  font-size: 3rem;
  align-self: flex-start;
}
.shop-category-desc {
  max-width: 40rem;
}

.all-products-container {
  display: flex;
  gap: 4rem;
  padding-top: 4rem;
}
.product-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}
.small-product-img-container {
  position: relative;
  display: flex;

  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;

  border: solid 1px white;
  padding: 3rem;
  border-radius: 10rem;
  transition: all ease 0.4s;
}
.btn-add {
  position: absolute;
  display: none;
  background-color: var(--dark);
  color: var(--dark);
  border: 1px solid var(--dark);
}

.small-product-img-container:hover .btn-add {
  display: block;
  background-color: var(--dark);
  color: var(--light);
}
.small-product-img-container:hover {
  background-color: var(--accent);
}

.small-product-img-container:hover .product-img {
  opacity: 0;
}

.product-img {
  width: 8rem;
  height: 8rem;
}

.product-desc {
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.product-name {
  font-size: 1.4rem;
}

/* basket */
.close-btn {
  align-self: flex-end;
}
.basket-container {
  background-color: var(--dark);
  border-left: solid 1px var(--light);
  position: absolute;

  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
  width: 30rem;
  height: 100vh;
  right: 0;
  gap: 2rem;
  z-index: 9999;
}

.basket-items-container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.basket-item-container {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.basket-item-img-container {
  border: 1px solid var(--light);
  padding: 1.5rem;
  border-radius: 100%;
}
.basket-item-img {
  width: 3rem;
  height: 3rem;
}

.quantity-change-container {
  display: flex;
  gap: 0.5rem;
}
.btn-quantity {
  width: 2rem;
  height: 2rem;
  background-color: var(--accent);
  color: var(--dark);
  padding: 0.2rem 0.5rem;
  border-radius: 100%;
  display: flex;
  align-items: center;

}

.quantity-icon {
  width: 1rem;
  height: 1rem;
}

.pay-btn {
  background-color: var(--primary);
  border: none;
  color: var(--dark);
}
