/* CSS Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --dark: #070707;
  --light: #e4e4e4;
  --accent: #b6c6ff;
}

body {
  font-family: "Ubuntu", sans-serif;
  background-color: var(--dark);
  color: var(--light);
}

.app-wrapper {
  padding: 2rem;
}

/* global-classes */
.container-max {
  max-width: 140rem;
}

.page-wrapper {
  display: flex;
  flex-direction: column;
  padding: 4rem 0rem;
  gap: 2rem;
  justify-content: center;
  align-items: center;
}

a {
  text-decoration: none;
  color: var(--light);
  transition: all 0.3s;
}
a:hover {
  color: var(--accent);
}
.active {
  color: var(--accent);
}

ul {
  list-style: none;
}

/* navbar */
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  width: 3rem;
}

.cart {
  background-color: var(--accent);
  width: 4rem;
  border-radius: 100%;
  padding: 0.5rem;
  transition: all 0.5s;
}

.cart:hover {
  cursor: pointer;
  background-color: var(--dark);
}

.nav-links-wrapper {
  display: flex;
  gap: 5rem;
}

.nav-link {
  font-size: 1.5rem;
  font-weight: 300;
}

/* home page */

h1 {
  font-size: 3.5rem;
  font-weight: 400;
}

.accent {
  color: var(--accent);
}

.h1-container {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}

.h1-star {
  height: 3.5rem;
}

.tagline {
  font-size: 1.5rem;
  font-weight: 300;
}

.small-txt {
  font-weight: 300;
  opacity: 50%;
}

/* .h1-container {
  position: relative;
  z-index: 2;
}
.circleLottie {
  position: absolute;
  left: calc(100% - 120px);
  transform: translate(-50%, -50%);
  z-index: 1;
} */

.circleLottie {
  position: absolute;

  left: 80%;
  transform: translate(-50%, -50%);
  z-index: 1;
}

.h1-container {
  position: relative;
  z-index: 2;
}
